body {
  background: url(../../assets/imgs/games-bg.jpg) right top / 100% auto fixed no-repeat;
}

.badge {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}

#genre-select #game-details {
  z-index: 99;
}

#game-details .game-info .badge {
  width: 70px;
}

#games-list a {
  transition: all 0.2s linear;
}

#games-list .game-feature-img {
  height: 175px;
  object-fit: cover;
}

#games-list a:hover {
  box-shadow: 0 0 5px #000;
  transform: translateY(-10px);
}

#loader {
  min-height: calc(100vh - 170px);
}

#loader img {
  max-width: 48px;
}
